.d-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.rel{
    position: relative;
}

.abs{
    position: absolute;
}

.fix{
    position: fixed;
}

.container{
    width: 1200px;
    margin: 0 auto;
}